:root {
    --navbar-height: 3rem;
}

p {
    margin: 0;
}

html,
body {
    height: 100dvh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.3s ease, color 0.3s ease;
    image-rendering: pixelated;
    cursor:
        url('/game_icons/cursor.png') 1 1,
        auto;
}