:root {
    --navbar-height: 3rem;
}

p {
    margin: 0;
}

html,
body {
    height: 100dvh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.3s ease, color 0.3s ease;
    image-rendering: pixelated;
    cursor:
        url('/game_icons/cursor.png') 1 1,
        auto;
}

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Silkscreen';
    src: url('/fonts/Silkscreen-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jersey10';
    src: url('/fonts/Jersey10-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DePixel';
    src: url('/fonts/DePixelKlein.otf') format('opentype');
}

@font-face {
    font-family: 'DePixel';
    src: url('/fonts/DePixelHalbfett.ttf') format('truetype');
    font-weight: bold;
}

